@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
}

::selection {
    background-color: rgba(113, 9, 170, 0.5);
    color: #000000;
    }

body {
    font-family: "Open Sans", sans-serif;
}

/* Welcome page */

.container {
    display: flex;
    max-height: 90vh;
}

.container__img img {
    height: 100%;
    width: 600px;
    /* max-width: calc(var(--index) * 26); */
    background-size: cover;
    /* justify-content: flex-start; */
}

.container__info {
    flex: 1;
    background-color: rgb(241,241,241);
}

.container__info h1 {
    font-size: calc(var(--index) * 2);
    font-weight: 700;
}

.container__info-text p {
    font-size: calc(var(--index) * 0.95);
    color: rgb(113, 9, 170);
    padding-top: 10px;
}

.container__info-text {
    margin: calc(var(--index) * 4) 0 0 calc(var(--index) * 2);
}

.container__column {
    width: calc(var(--index) * 10);
    max-width: 33%;
    background-color: rgb(113, 9, 170);
}

.container__info-contacts {
    margin: calc(var(--index) * 3.3) 0 0 calc(var(--index) * 2);
}

.container__info-contacts p {
    padding-top: calc(var(--index) * 0.7);
    font-size: calc(var(--index) * 0.75);
}

.container__info-contacts a {
    text-decoration: none;
    color: rgb(113, 9, 170);
}

.container__info-contacts img {
    /* width: calc(var(--index) * 0.8); */
    height: calc(var(--index) * 0.7);
    background-size: cover;
}

.container__info-btn {
    margin: calc(var(--index) * 4) 0 0 calc(var(--index) * 2);
}

.container__info-btn button {
    text-align: center;
    font-size: calc(var(--index) * 0.6);
    color: rgb(113, 9, 170);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 8px;
    border: 3px solid rgb(113, 9, 170);
    padding: calc(var(--index) * 0.6) calc(var(--index) * 1.5);
}

.container__info-btn button:hover {
    background-color: white;
    color: rgb(113, 9, 170);
}

.container__info-btn button:active {
    transform: scale(0.97);
}

/* Skills */
.skills {
    display: flex;
    justify-content: space-evenly;
}

.skills__title {
    display: flex;
    width: calc(var(--index) * 16);
    height: calc(var(--index) * 14);
    margin-top: calc(var(--index) * 4);
    background-color: rgb(113, 9, 170);
    /* background-color: rgb(241,241,241); */
    border-radius: 8px;
}

.skills__title p {
    color: rgb(241,241,241);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: calc(var(--index) * 1);
    padding: 0px 25px;
}

.skills__info {
    padding-top: calc(var(--index) * 1.7);
}

.skills__info-name h3 {
    font-size: calc(var(--index) * 2);
}

.skills__info-name-column {
    width: calc(var(--index) * 7);
    height: calc(var(--index) * 0.25);
    background-color: rgb(113, 9, 170);
}

.skills__info-list li {
    padding-top: 16px;
    list-style-type: none;
    font-size: calc(var(--index) * 1);
}

.skills__info-list li:before {
    content: "⟡";
    color: rgb(113, 9, 170);
    padding-right: 5px;
}

/* Slider */

.wrapper {
    width: 100vw;
    height: 100vh;
    margin-top: calc(var(--index) * 3);
    position: relative;
    overflow: hidden;
  }
  
  .wrapper__sidebar {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
  }

  .wrapper__sidebar h2 {
    font-size: calc(var(--index) * 2);
  }

  .wrapper__sidebar p {
    font-size: calc(var(--index) * 1);
  }
  
  .wrapper__sidebar > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .wrapper__main-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
  }
  
  .wrapper__main-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
  
  .wrapper__controls button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: calc(var(--index) * 0.85);
    padding: calc(var(--index) * 0.65);
  }
  
  .wrapper__controls button:hover {
    color: #222;
  }
  
  .wrapper__controls button:focus {
    outline: none;
  }
  
  .wrapper .wrapper__controls button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
  }
  
  .wrapper .wrapper__controls .wrapper__down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .wrapper .wrapper__controls .wrapper__up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  /* Quote */

  .quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    /* margin-top: calc(var(--index) * 2); */
    /* height: 40vh; */
  }

  .quote__title {
    display: flex;
    align-items: center;
    text-align: left;
    /* width: calc(var(--index) * 15); */
    height: calc(var(--index) * 10);
    border-radius: 8px;
    /* background-color: rgb(164, 133, 180); */
  }

  .quote__title p {
    padding: calc(var(--index) * 1) calc(var(--index) * 2);
    color: rgb(113, 9, 170);
    font-size: calc(var(--index) * 0.8);
  }





